footer {
  background-color: $color-teal-dark;
  color: $color-white;
  font-size: 2rem;
  text-transform: uppercase;

  .content-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer-top {
      padding: 4rem 4rem;

      h2 {
        margin: 4rem 0;
      }

      div:not(:first-child) {
        margin-top: 6rem;
      }

      .location-info {
        address {
          font-style: normal;
        }

        p:first-of-type {
          margin-top: 2rem;
        }
      }

      .sitemap {
        nav {
          display: flex;
          flex-direction: column;

          a:not(:last-of-type) {
            margin-bottom: 2rem;
          }
        }
      }

      .social-links {
        p {
          text-transform: none;
          margin-bottom: 2rem;
        }

        .social-icons {
          display: flex;
          padding: 0 2rem;
          justify-content: space-between;
          margin-top: 4rem;

          .social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-teal-dark;
            font-size: 3rem;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: $color-teal-light;
            transition: $transition-default;

            &:hover {
              color: $color-white;
              background-color: $color-brown-light;
            }
          }
        }
      }
    }

    p {
      font-weight: 300;
    }

    a {
      color: $color-white;
      transition: $transition-default;

      &:hover {
        color: $color-brown-light;
      }
    }

    .footer-bottom {
      background-color: $color-teal-darkest;
      text-align: center;
      padding: 4rem 0;

      p:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  footer {
    .content-area {
      width: 100%;

      .footer-top {
        margin-left: 4rem;

        .social-links {
          p {
            width: 60%;
            margin-bottom: 4rem;
          }
          .social-icons {
            justify-content: flex-start;
            padding: 0;

            .social-icon:not(:first-of-type) {
              margin-left: 3rem;
            }
          }
        }
      }
    }

    .footer-bottom {
      margin-top: 8rem;
    }
  }
}

@media screen and (min-width: 999px) {
  footer .content-area {
    .footer-top {
      margin: 0 auto;
      width: 50%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 4rem 0;

      div:not(:first-child) {
        margin-top: 0;
      }

      .sitemap {
        margin: 0 6rem;
      }

      .social-links p {
        width: 100%;
      }
    }

    .footer-bottom {
      .content-area {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
